[Unit]
Description=My Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/test-devops/python
ExecStart=/home/ubuntu/test-devops/python/venv/bin/python /home/ubuntu/test-devops/python/app.py

[Install]
WantedBy=multi-user.target