[Unit]
Description=My Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/root/hello-devops/python
ExecStart=/root/hello-devops/python/venv/bin/python /root/hello-devops/python/app.py

[Install]
WantedBy=multi-user.target