[Unit]
Description=My Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/root/test-devops/python
ExecStart=/root/test-devops/python/venv/bin/python /root/test-devops/python/app.py

[Install]
WantedBy=multi-user.target